* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Bai Jamjuree', sans-serif; 
}
.container {
  max-width: 1920px;
  width: 100%; 
  margin: 0 auto;
}
.header_top_right{
   width: 400px;
}
.header_mid_search_item button, input{
  border: 2px solid #E5E8EC;
  border-radius: 5px;
}

.icon-notice p{
  width: 20px;
  height: 20px;
  background-color: #EF262C;
  border-radius: 50%;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: -40%;
  left: 70%;
  
}
.icon-container{
  position: relative;
}
.icon-container img{
  width: 20px;
}
.hr-style{
    width: 100%;
    
}

.main_slider{
  position: relative;
}

.main_slider_text{
  width: 26%;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.main_banner_item{
  position: relative;
}

.main_banner_text{
  width: 38%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.main_product_item{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 5px;
  width: 50%; 
}

.loading-bar {
  width: 100%; /* Chiều rộng của thanh loading */
  height:3px; /* Độ dày của thanh loading */
  background-color: #EF262C; /* Màu sắc của thanh loading */
  animation: loading 2s infinite; /* Hiệu ứng loading */
}
@keyframes loading {
  0% { width: 0; }
  100% { width: 100%; }
}
.countdown {
  display: flex;
  align-items: center;
}

.box {
  background-color: #e74c3c; /* Màu nền đỏ */
  color: white; /* Màu chữ trắng */
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 5px;
}

.separator {
  font-size: 16px;
  margin: 0 5px;
}
.email-input{
  border: 1px solid #E5E8EC;
  border-radius: 50px;
  padding: 10px 20px;
  height: 50px;
  margin-right: 20px;
}
.email-btn{
  padding:10px 20px;
  background-color: #2B38D1;
  color:#fff;
  height: 50px;
  border-radius: 50px;
}
.payment{
  padding: 4px;
  border: 1px solid #E5E8EC;
  border-radius: 3px;
}
.payment img{
  height: 22px;
  width: 44px;
}





